<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gurugan.infra.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.gurugan.infra.modules.code.Code"></resultMap>
    
    <sql id="selectCommon">
    	FROM commonCodeGroup CCG
		INNER JOIN commonCode CC on CC.commonCodeGroup_seq = CCG.seq
	    WHERE 1=1
	    <choose>
				<when test="shDelYn == 2">AND CC.delYn IS NOT NULL</when>
				<when test="shDelYn != null and !shDelYn.equals('')">AND CC.delYn = #{shDelYn}</when>
				<otherwise></otherwise>
	    </choose>
    </sql>
	
	<select id="selectList" resultMap="resultMapObj">
	 	SELECT
			CC.seq as CCseq
			,CC.seqChar as CCseqChar
			,CC.codeName as CCcodeName
			,CC.codeNameEng as CCcodeNameEng
			,CC.useYn as CCuseYn
			,CC.sort as CCsort
			,CC.regDate as CCregDate
			,CC.delDate as CCdelDate
			,CC.modDate as CCmodDate
			,CC.commonCodeGroup_seq as CCcommonCodeGroup_seq
			,CCG.seq as CCGseq
			,CCG.seqChar as CCGseqChar
			,CCG.groupName as CCGgroupName
			,CCG.useYn as CCGuseYn
			,CCG.delYn as CCGdelYn
		<include refid="selectCommon"></include>
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			CC.seq as CCseq
			,CC.seqChar as CCseqChar
			,CC.codeName as CCcodeName
			,CC.codeNameEng as CCcodeNameEng
			,CC.useYn as CCuseYn
			,CC.sort as CCsort
			,CC.regDate as CCregDate
			,CC.delDate as CCdelDate
			,CC.modDate as CCmodDate
			,CC.commonCodeGroup_seq as CCcommonCodeGroup_seq
			,CCG.seq as CCGseq
			,CCG.seqChar as CCGseqChar
			,CCG.groupName as CCGgroupName
			,CCG.useYn as CCGuseYn
			,CCG.delYn as CCGdelYn
		<include refid="selectCommon"></include>
	</select>
	
	<insert id="insert">
		INSERT INTO commonCode (
			commonCodeGroup_seq
			,seqChar
			,codeName
			,codeNameEng
			,useYn
			,regDate
			,delYn
		) VALUES (
			#{CCcommonCodeGroup_seq}
			,#{CCseqChar}
			,#{CCcodeName}
			,#{CCcodeNameEng}
			,#{CCuseYn}
			,NOW()
			,0
		)
	<selectKey resultType="String" keyProperty="CCseq" order="AFTER">
		SELECT last_insert_id()
	</selectKey>
	</insert>
	
	<!-- <update id="update">
		UPDATE commonCode CC
			SET
				CC.seqChar = #{CCseqChar}
				,CC.codeName
				,CC.codeNameEng
				,CC.useYn
				,CC.delYn			
	</update>
	 -->
	
	<resultMap id="resultMapGroup" type="com.gurugan.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="groupList" resultMap="resultMapGroup">
		SELECT 
			groupName as CCGgroupName
			,seq as CCGseq
		FROM commonCodeGroup
	</select>
</mapper>	