<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gurugan.infra.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.gurugan.infra.modules.code.Code"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
	 	SELECT
			CC.seq as CCseq
			,CC.seqChar as CCseqChar
			,CC.codeName as CCcodeName
			,CC.codeNameEng as CCcodeNameEng
			,CC.useYn as CCuseYn
			,CC.sort as CCsort
			,CC.regDate as CCregDate
			,CC.delDate as CCdelDate
			,CC.modDate as CCmodDate
			,CC.commonCodeGroup_seq as CCcommonCodeGroup_seq
			,CCG.seq as CCGseq
			,CCG.seqChar as CCGseqChar
			,CCG.groupName as CCGgroupName
			,CCG.useYn as CCGuseYn
			,CCG.delYn as CCGdelYn
		FROM commonCodeGroup CCG
		LEFT JOIN commonCode CC on CC.commonCodeGroup_seq = CCG.seq
	    WHERE 1=1
			AND CC.delYn = 0
	        AND CCG.delYn = 0
	</select>
	
	<insert id="insert">
		INSERT INTO commonCode (
			commonCodeGroup_seq
			,seqChar
			,codeName
			,codeNameEng
			,useYn
			,regDate
			,delYn
		) VALUES (
			#{CCcommonCodeGroup_seq}
			,#{CCseqChar}
			,#{CCcodeName}
			,#{CCcodeNameEng}
			,#{CCuseYn}
			,NOW()
			,0
		)
	<selectKey resultType="String" keyProperty="CCseq" order="AFTER">
		SELECT last_insert_id()
	</selectKey>
	</insert>
	
	<resultMap id="resultMapGroup" type="com.gurugan.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="groupList" resultMap="resultMapGroup">
		SELECT 
			groupName as CCGgroupName
			,seq as CCGseq
		FROM commonCodeGroup
	</select>
</mapper>	