<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gurugan.infra.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.gurugan.infra.modules.code.Code"></resultMap>
    
    <sql id="selectCommon">
    	FROM commonCodeGroup CCG
		INNER JOIN commonCode CC on CC.commonCodeGroup_seq = CCG.seq
	    WHERE 1=1
	    <choose>
				<when test="shDelYn == 2">AND CC.delYn IS NOT NULL</when>
				<when test="shDelYn != null and !shDelYn.equals('')">AND CC.delYn = #{shDelYn}</when>
				<otherwise></otherwise>
	    </choose>
	    <choose>
				<when test="shDate == 1">AND CC.regDate BETWEEN #{shStartDate} AND #{shEndDate}</when>
				<when test="shDate == 2">AND CC.modDate BETWEEN #{shStartDate} AND #{shEndDate}</when>
		</choose>
		<choose>
			<when test="shOption == 1">AND CC.seq = #{shValue}</when>
			<when test="shOption == 2">AND CC.seqChar LIKE CONCAT ('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND CC.codeName LIKE CONCAT ('%',#{shValue},'%') OR CC.codeNameEng LIKE CONCAT ('%',#{shValue},'%')</when>
			<otherwise></otherwise>
		</choose>
		<choose>
			<when test="shOption2 == 1">OR CC.seq = #{shValue2}</when>
			<when test="shOption2 == 2">OR CC.seqChar LIKE CONCAT ('%',#{shValue2},'%')</when>
			<when test="shOption2 == 3">OR CC.codeName LIKE CONCAT ('%',#{shValue2},'%')</when>
			<otherwise></otherwise>
		</choose>
    </sql>
	
	<select id="selectList" resultMap="resultMapObj">
	<include refid="Base.selectListUpperForMysql"/>
	 	SELECT
			CC.seq as CCseq
			,CC.seqChar as CCseqChar
			,CC.codeName as CCcodeName
			,CC.codeNameEng as CCcodeNameEng
			,CC.useYn as CCuseYn
			,CC.sort as CCsort
			,CC.regDate as CCregDate
			,CC.delDate as CCdelDate
			,CC.modDate as CCmodDate
			,CC.commonCodeGroup_seq as CCcommonCodeGroup_seq
			,CCG.seq as CCGseq
			,CCG.seqChar as CCGseqChar
			,CCG.groupName as CCGgroupName
			,CCG.useYn as CCGuseYn
			,CCG.delYn as CCGdelYn
		<include refid="selectCommon"></include>
		ORDER BY 
		CC.seq ASC
	<include refid="Base.selectListLowerForMysql"/>
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			CC.seq as CCseq
			,CC.seqChar as CCseqChar
			,CC.codeName as CCcodeName
			,CC.codeNameEng as CCcodeNameEng
			,CC.useYn as CCuseYn
			,CC.sort as CCsort
			,CC.regDate as CCregDate
			,CC.delDate as CCdelDate
			,CC.modDate as CCmodDate
			,CC.commonCodeGroup_seq as CCcommonCodeGroup_seq
			,CCG.seq as CCGseq
			,CCG.groupName as CCGgroupName
			,CCG.useYn as CCGuseYn
			,CCG.delYn as CCGdelYn
		FROM commonCode CC
		INNER JOIN commonCodeGroup CCG on CC.commonCodeGroup_seq = CCG.seq
	    WHERE 1=1
			AND CC.seq = #{CCseq}
			ORDER BY CC.seq ASC
	</select>
	
	<select id="selectOneCount" resultMap="resultMapObj">
		SELECT COUNT(*)
			FROM commonCode CC
		WHERE 1=1
	    <choose>
				<when test="shDelYn == 2">AND CC.delYn IS NOT NULL</when>
				<when test="shDelYn != null and !shDelYn.equals('')">AND CC.delYn = #{shDelYn}</when>
				<otherwise></otherwise>
	    </choose>
	    <choose>
				<when test="shDate == 1">AND CC.regDate BETWEEN #{shStartDate} AND #{shEndDate}</when>
				<when test="shDate == 2">AND CC.modDate BETWEEN #{shStartDate} AND #{shEndDate}</when>
				<otherwise></otherwise>
		</choose>
		<choose>
			<when test="shOption == 1">AND CC.seq = #{shValue}</when>
			<when test="shOption == 2">AND CC.seqChar LIKE CONCAT ('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND CC.codeName LIKE CONCAT ('%',#{shValue},'%') OR CC.codeNameEng LIKE CONCAT ('%',#{shValue},'%')</when>
			<otherwise></otherwise>
		</choose>
		<choose>
			<when test="shOption2 == 1">OR CC.seq = #{shValue2}</when>
			<when test="shOption2 == 2">OR CC.seqChar LIKE CONCAT ('%',#{shValue2},'%')</when>
			<when test="shOption2 == 3">OR CC.codeName LIKE CONCAT ('%',#{shValue2},'%')</when>
			<otherwise></otherwise>
		</choose>
		ORDER BY
			CC.seq ASC
	</select>
	
	<insert id="insert">
		INSERT INTO commonCode (
			commonCodeGroup_seq
			,seqChar
			,codeName
			,codeNameEng
			,useYn
			,regDate
			,delYn
		) VALUES (
			#{CCcommonCodeGroup_seq}
			,#{CCseqChar}
			,#{CCcodeName}
			,#{CCcodeNameEng}
			,#{CCuseYn}
			,NOW()
			,0
		)
	<selectKey resultType="String" keyProperty="CCseq" order="AFTER">
		SELECT last_insert_id()
	</selectKey>
	</insert>
	
	<update id="update">
		UPDATE commonCode CC
			SET
				CC.commonCodeGroup_seq = #{CCcommonCodeGroup_seq}
				,CC.delYn = #{CCdelYn}
				,CC.useYn = #{CCuseYn}
				,CC.seqChar = #{CCseqChar}
				,CC.codeName = #{CCcodeName}
				,CC.codeNameEng = #{CCcodeNameEng}
				,CC.modDate = NOW()
			WHERE 1=1
				AND CC.seq = #{CCseq}
	</update>
	
	
	<resultMap id="resultMapGroup" type="com.gurugan.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="groupList" resultMap="resultMapGroup">
		SELECT DISTINCT
			CCG.groupName AS CCGgroupName
			,CCG.seq AS CCGseq
			,CC.commonCodeGroup_seq AS CCcommonCodeGroup_seq
		FROM commonCodeGroup CCG
		LEFT JOIN commonCode CC on CC.commonCodeGroup_seq = CCG.seq
		WHERE 1=1
			AND CCG.delYn = 0
			AND CCG.useYn = 1
	</select>
	
	<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			CC.seq AS CCseq
			,CC.codeName AS CCcodeName
			,CC.commonCodeGroup_seq AS CCGseq
		FROM
			commonCode CC
		WHERE 1=1
			AND delYn = 0
		    AND useYn = 1
    </select>
</mapper>	