<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gurugan.infra.modules.codegroup.CodeGroupMapper">

	<resultMap id="resultMapObj" type="com.gurugan.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
	SELECT
		CCG.seq as CCGseq
		,CCG.seqChar as CCGseqChar
		,CCG.groupName as CCGgroupName
		,CCG.groupNameEng as CCGgroupNameEng
		,CCG.useYn as CCGuseYn
		,CCG.regDate as CCGregDate
		,CCG.delYn as CCGdelYn
		,CCG.modDate as CCGmodDate
		,CCG.delDate as CCGdelDate
		,CCG.description as CCGdescription
		,(select count(CC.seq) from commonCode CC where 1=1 and CC.delYn=0 and CC.commonCodeGroup_seq = CCG.seq AND CC.delYn = 0) as xCCcount
	FROM commonCodeGroup CCG
	WHERE 1=1
		<choose>
			<when test="shDelYn == 2">AND CCG.delYn IS NOT NULL</when>
			<when test="shDelYn != null and !shDelYn.equals('')">AND CCG.delYn = #{shDelYn}</when>
			<otherwise>AND CCG.delYn = 0</otherwise>
		</choose>
		<choose>
			<when test="shDate == 1">AND CCG.regDate BETWEEN #{shStartDate} AND #{shEndDate}</when>
			<when test="shDate == 2">AND CCG.modDate BETWEEN #{shStartDate} AND #{shEndDate}</when>
		</choose>
		<choose>
			<when test="shOption == 1">AND CCG.seq = #{shValue}</when>
			<when test="shOption == 2">AND CCG.seqChar LIKE CONCAT ('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND CCG.groupName LIKE CONCAT ('%',#{shValue},'%')</when>
			<otherwise></otherwise>
		</choose>
		<choose>
			<when test="shOption2 == 1">OR CCG.seq = #{shValue2}</when>
			<when test="shOption2 == 2">OR CCG.seqChar LIKE CONCAT ('%',#{shValue2},'%')</when>
			<when test="shOption2 == 3">OR CCG.groupName LIKE CONCAT ('%',#{shValue2},'%')</when>
			<otherwise></otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO commonCodeGroup (
			seqChar
			,groupName
			,groupNameEng
			,useYn
			,regDate
			,delYn
			,description
		) VALUES (
			#{CCGseqChar}
			,#{CCGgroupName}
			,#{CCGgroupNameEng}
			,#{CCGuseYn}
			,NOW()
			,#{CCGdelYn}
			,#{CCGdescription}
		)
	<selectKey resultType="String" keyProperty="CCGseq" order="AFTER">
		SELECT last_insert_id()
	</selectKey>
	</insert>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			CCG.useYn AS CCGuseYn
			,CCG.seq AS CCGseq
			,CCG.seqChar AS CCGseqChar
			,CCG.groupName AS CCGgroupName
			,CCG.groupNameEng AS CCGgroupNameEng
			,CCG.delYn AS CCGdelYn
		FROM commonCodeGroup CCG
		WHERE 1=1
			AND CCG.seq = #{CCGseq}
	</select>
	
	<update id="update">
		UPDATE commonCodeGroup CCG
			SET
				CCG.delYn = #{CCGdelYn}
				,CCG.useYn = #{CCGuseYn}
				,CCG.seqChar = #{CCGseqChar}
				,CCG.groupName = #{CCGgroupName}
				,CCG.groupNameEng = #{CCGgroupNameEng}
				,CCG.modDate = NOW()
				,CCG.description = #{CCGdescription}
		WHERE 1=1
			AND CCG.seq = #{CCGseq}
	</update>

</mapper>
<!-- SELECT CC.seq as CCseq ,CC.seqChar as CCseqChar ,count(CC.commonCodeGroup_seq) as CCcount ,CC.codeName as CCcodeName ,CC.codeNameEng as CCcodeNameEng 
	,CC.useYn as CCuseYn ,CC.sort as CCsort ,CC.regDate as CCregDate ,CC.delYn as CCdelYn ,CC.delDate as CCdelDate ,CC.modDate as CCmodDate ,CCG.seq as CCGseq 
	,CCG.seqChar as CCGseqChar ,CCG.groupName as CCGgroupName ,CCG.groupNameEng as CCGgroupNameEng ,CCG.useYn as CCGuseYn ,CCG.regDate as CCGregDate ,CCG.delYn 
	as CCGdelYn ,CCG.delDate as CCGdelDate FROM commonCode CC LEFT JOIN commonCodeGroup CCG on CC.commonCodeGroup_seq = CCG.seq WHERE 1=1 AND CC.delYn = 0 
	AND CCG.delYn = 0 GROUP BY CCG.groupName; -->
	