<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gurugan.infra.modules.product.ProductMapper">
	<!-- Member dto -->
	<resultMap id="resultMapPD" type="com.gurugan.infra.modules.product.Product"></resultMap>
	
	<!-- select Product table ALL -->
	
	<select id="selectList" resultMap="resultMapPD">
		<include refid="Base.selectListUpperForMysql"/>
		SELECT
			PD.seq AS PDseq
		    ,PD.productName AS PDproductName
		    ,PD.price AS PDprice
		    ,PD.stock AS PDstock
		    ,PD.category AS PDcategory
		    ,PD.uploadDate AS PDuploadDate
		    ,PD.status AS PDstatus
		    ,PD.delYn AS PDdelYn
		FROM product PD
		WHERE 1=1
			<if test="PDdelYn != null and !PDdelYn.equals('')">AND PD.delYn = #{PDdelYn}</if>
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOne" resultMap="resultMapPD">
		SELECT
			PD.seq AS PDseq
		    ,PD.productName AS PDproductName
		    ,PD.price AS PDprice
		    ,PD.stock AS PDstock
		    ,PD.category AS PDcategory
		    ,PD.uploadDate AS PDuploadDate
		    ,PD.status AS PDstatus
		    ,PD.delYn AS PDdelYn
		FROM product PD
		WHERE 1=1
			AND PD.seq = #{PDseq}
			<if test="PDdelYn != null and !PDdelYn.equals('')">AND PD.delYn = #{PDdelYn}</if>
	</select>
	
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
			FROM product PD
		WHERE 1=1
			<if test="PDdelYn != null and !PDdelYn.equals('')">AND PD.delYn = #{PDdelYn}</if>
	</select>
	<!-- test 221018 -->
	<select id="selectListUploaded" resultMap="resultMapPD">
		SELECT 
			seq
			,type
			,defaultNy
			,sort
			,path
			,originalName
			,uuidName
		FROM nct.infrMemberUploaded
		WHERE 1=1
			AND delYn = 0
			AND pseq = #{PDSeq}
		ORDER BY
			type, sort
	</select>
	
	<!-- ProductOption 조회 -->
	<select id="selectProductOption" resultMap="resultMapPD">
		SELECT
			PO.seq AS POseq
		    ,PO.optionMain AS POoptionMain
		    ,PO.optionSub AS POoptionSub
		    ,PO.productSeq AS PDseq
		    ,PO.delYn AS POdelYn
		FROM productOption PO
		WHERE 1=1
			AND PO.productSeq = #{PDseq}
			<if test="PDdelYn != null and !PDdelYn.equals('')">AND PO.delYn = #{POdelYn}</if>
	</select>
	
	<insert id="insert">
		INSERT INTO product (
		    productName
		    ,price
		    ,stock
		    ,category
		    ,uploadDate
		    ,status
		    ,delYn
		) VALUES (
			#{PDproductName}
			,#{PDprice}
			,#{PDstock}
			,#{PDcategory}
			,NOW()
			,#{PDstatus}
			,0
		)
	<selectKey resultType="String" keyProperty="PDseq" order="AFTER">
		SELECT last_insert_id()
	</selectKey>
	</insert>
	
	<update id="update">
		UPDATE product PD
			SET
				productName = #{PDproductName}
				,price = #{PDprice}
				,stock = #{PDstock}
				,category = #{PDcategory}
				,status = #{PDstatus}
				,delYn = #{PDdelYn}
			WHERE 1=1
				AND PD.seq = #{PDseq}
	</update>
	
	
	<!-- product option  -->
	<insert id="insertOption">
		INSERT INTO ProductOption (
			optionMain
			,optionSub
			,productSeq
			,delYn
		) VALUES (
			#{POoptionMain}
			,#{POoptionSub}
			,#{PDseq}
			,0
		)
	<selectKey resultType="String" keyProperty="PDseq" order="AFTER">
		SELECT last_insert_id()
	</selectKey>
	</insert>
	
	<update id="updateOption">
		UPDATE productOption
			SET
				optionMain = #{POoptionMain}
				,optionSub = #{POoptionSub}
				,productSeq = #{PDseq}
				,delYn = #{POdelYn}
			WHERE 1=1
				AND seq = #{POseq}
	</update>
	
	
	
	

</mapper>	