<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gurugan.infra.modules.member.MemberMapper">

	<resultMap id="resultMapObj" type="com.gurugan.infra.modules.member.Member"></resultMap>

	<select id="selectList" resultMap="resultMapObj">
	<!-- <include refid="Base.selectListUpperForMysql"/> -->
		SELECT
			MB.seq AS MBseq
			,MB.id AS MBid
			,MB.password AS MBpassword
			,MB.name AS MBname
			,MB.gender AS MBgender
			,MB.dob AS MBdob
			,MB.mobile AS MBmobile
			,MB.email AS MBemail
			,MB.regDate AS MBregDate
			,MB.grade AS MBgrade
		FROM member MB
		WHERE 1=1
			AND MB.delYn = 0
		ORDER BY
			MB.seq DESC
<!-- 		<include refid="Base.selectListLowerForMysql" /> -->
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			MB.seq AS MBseq
			,MB.id AS MBid
			,MB.password AS MBpassword
			,MB.name AS MBname
			,MB.gender AS MBgender
			,MB.dob AS MBdob
			,MB.mobile AS MBmobile
			,MB.email AS MBemail
			,MB.regDate AS MBregDate
			,MB.grade AS MBgrade
		FROM member MB
		WHERE 1=1
			AND MB.delYn = 0
			AND MB.seq = #{MBseq}
			<choose>
				<when test="shOption == 1">AND MB.seq = #{shValue}</when>
				<when test="shOption == 2">OR MB.id = #{MBid}</when>
				<otherwise></otherwise>
			</choose>
		ORDER BY
			MB.seq DESC
	</select>
	
	<insert id="insert">
		INSERT INTO member (
			id
			,password
			,name
			,gender
			,dob
			,mobile
			,email
			,regDate
			,delYn
			,grade
		) VALUES (
			#{MBid}
			,#{MBpassword}
			,#{MBname}
			,#{MBgender}
			,#{MBdob}
			,#{MBmobile}
			,#{MBemail}
			,NOW()
			,0
			,#{MBgrade}
		)
	<selectKey resultType="String" keyProperty="MBseq" order="AFTER">
		SELECT last_insert_id()
	</selectKey>
	</insert>
	
	<insert id="insertAddress">
		INSERT INTO memberAddress (
			member_seq
			,addressName
			,addressZipcode
			,addressMain
			,addressDetail
			,addressMore
			,delYn
		) VALUES (
			1
			,#{addressName}
			,#{addressZipcode}
			,#{addressMain}
			,#{addressDetail}
			,#{addressMore}
			,0
		)
	<selectKey resultType="String" keyProperty="MAseq" order="AFTER">
		SELECT last_insert_id()
	</selectKey>
	</insert>
	
	<update id="update">
		UPDATE member MB
			SET
				id = #{MBid}
				,password = #{MBpassword}
				,name = #{MBname}
				,gender = #{MBgender}
				,dob = #{MBdob}
				,mobile = #{MBmobile}
				,email = #{MBemail}
				,delYn = #{MBdelYn}
				,grade = #{MBgrade}
		WHERE 1=1
			AND MB.seq = #{MBseq}
	</update>
	
	<select id="selectOneIdCheck" resultType="Integer">
		SELECT
			COUNT(MB.id)
		FROM member MB
	    WHERE 1=1
			AND MB.id = #{MBid}
	</select>
	
	<select id="selectOneId" resultMap="resultMapObj">
		SELECT
			MB.seq AS MBseq
			,MB.id AS MBid
		FROM member MB
		WHERE 1=1
			AND MB.id = #{MBid}
			
	</select>
	
	<select id="selectOneLogin" resultMap="resultMapObj">
		SELECT
			MB.seq AS MBseq
			,MB.id AS MBid
			,MB.name AS MBname
		FROM member MB
		WHERE 1=1
			AND MB.id = #{MBid}
			<if test="MBpassword != null and !MBpassword.equals('')">AND MB.password = #{MBpassword}</if>
	</select>
	
	

</mapper>	